# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

docs/
runs/
das/
real_3d/
data_3d/
data_2d_das/
unit_test_data/
